<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/chatbot.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> 
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js" defer></script>
    <script src="/js/script.js" defer></script>
</head>
<body>
    <%- include('../partials/header') %> 
    <main>
        <section class="wrapper">
            <h1>Spannend</h1>
            <div class="slider-wrapper">
                <ul>
                    <% if (spannend.length > 0) { %>
                        <% spannend.forEach(book => { %>
                            <a href="boek/<%= book.id %> ">
                                <img src="<%= book.coverimages[1] %> " alt="kaft van <%= book.titles[0] %> ">
                            </a> 
                    <% })} %> 
                </ul>
                <ul id="controls">
                    <li><i class="fa fa-arrow-left"></i></li>
                    <li><i class="fa fa-arrow-right"></i></li>
                </ul>
            </div>
        </section>

        <section class="wrapper">
            <h1>Monsters</h1>
            <div class="slider-wrapper">
                <ul>
                    <% if (monsters.length > 0) { %>
                        <% monsters.forEach(book => { %>
                            <a href="boek/<%= book.id %> ">
                                <img src="<%= book.coverimages[1] %> " alt="kaft van <%= book.titles[0] %> ">
                            </a> 
                    <% })} %> 
                </ul>
            </div>
        </section>

        <section class="wrapper">
            <h1>Prinsessen</h1>
            <div class="slider-wrapper">
                <ul>
                    <% if (prinsessen.length > 0) { %>
                        <% prinsessen.forEach(book => { %>
                            <a href="boek/<%= book.id %> ">
                                <img src="<%= book.coverimages[1] %> " alt="kaft van <%= book.titles[0] %> ">
                            </a> 
                    <% })} %> 
                </ul>
            </div>
        </section>
    </main>
    <section class="chatbutton">
    
    </section>
    <section class="chatbot">
        <section class="inner-chatbot">
            <button class="close"><i class="fa fa-close"></i></button>
            <span class="firstChoices">
                <button id="zelf">Zelf lezen</button>
                <button id="voor">Voorlezen</button>
            </span>
        </section>
    
        <div class="character">
            <div class="head">
                <div class="left_ear"></div>
                <div class="right_ear"></div>
                <div class="eyes_area">
                    <div class="eye_left"></div>
                    <div class="eye_right"></div>
                </div>
                <div class="mouth_area">
                    <div class="mouth"></div>
                </div>
            </div>
            <div class="body">
                <div class="belly"></div>
            </div>
        </div>
    
        <section class="chatBalloon">
            <p class="speaker"> Jaapie de aap</p>
            <p id="text"></p>
        </section>
    
        
    </section>
</body>
</html>